@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
textarea,
select {
  @apply border-2 border-gray-300 rounded-md px-2 mb-2 w-full shadow-sm;
}

input:focus,
textarea:focus,
select:focus {
  @apply border border-gray-200 rounded-sm px-3 w-full py-2;
  @apply mb-2;
}

h1 {
  @apply text-gray-800 mb-4 text-xl;
}

h2 {
  @apply text-blue-900 mb-2 font-semibold text-lg;
}

label {
  @apply text-gray-600 text-sm;
}

.btn-primary,
.btn-default,
.btn-red {
  @apply px-4 py-1 rounded-md flex justify-center gap-1 w-fit;
}

.btn-primary {
  @apply bg-primary text-white;
}

.btn-red {
  @apply bg-red-300 text-red-600 px-4 py-1 rounded-md;
}

.btn-default {
  @apply bg-gray-600 text-white px-4 py-1 rounded-md;
}

table.basic {
  @apply w-full mt-2 mb-2 bg-white rounded-sm shadow-md;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}

table.basic tr td {
  @apply px-4 py-1;
}

table.basic a {
  @apply px-4 rounded-md inline-flex mx-1 items-center gap-1 text-sm py-1;
}
