@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
textarea,
select {
  @apply border-2 border-gray-300 rounded-md px-2 mb-2 w-full;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-blue-600 outline-none;
}

h1 {
  @apply text-blue-900 mb-2 font-bold text-xl;
}

label {
  @apply text-blue-900 font-medium;
}

.btn-primary,
.btn-default,
.btn-red {
  @apply px-4 py-1 rounded-md flex gap-1;
}

.btn-primary {
  @apply bg-blue-900 text-white;
}

.btn-red {
  @apply bg-red-800 text-white;
}

.btn-default {
  @apply bg-gray-500 text-white;
}

table.basic {
  @apply w-full mt-2 mb-2;
}

table.basic thead tr td {
  @apply bg-blue-100;
}

table.basic tr td {
  @apply border border-blue-200 p-1;
}

table.basic a {
  @apply bg-blue-900 text-white text-sm py-1 px-2 rounded-md inline-flex gap-1 align-middle mr-1;
}
